
/* Your CSS Code here. */
.moviepic{
	height:100%;
	width:100%;
	opacity:8px;
}

.movieDetail{
	position:absolute;
	top:140px;
	width:550px;
	text-align:justify;
	font-size: 200%;
}
  h1{
	position:absolute;
	top:0px;
	margin-top: 2px;
	width:550px;
	text-align: center;
	font-size:70px;
}