
/* Your CSS Code here. */
.moviepic img{
	height:100%;
	width:100%;
	opacity:8px;
}

.movieDetail h1{
	position:absolute;
	top:1px;
	width:550px;
	text-align:center;
	font-size: 400%;
}
.movieDetail p{
	position:absolute;
	top:150px;
	width:550px;
	text-align: justify;
	font-size:x-large;
}